<html>
	
	<head><title>Django, Python, HTML Test</title></head>
	<body>
		<div>
			<h1><a href="">Django Blog Test</a><h1>
		</div>
		<div>
			<p>published: 04/07/2014, 13:30</p>
			<h2><a href="">The first post</a></h2>
			<p>Lorem ipsum dolor sit amet, consectutuer adipiscing elit. Aenean commdo ligula eget dolor. Aenean massa</p>

		</div>
		<div>
			<p>published: 04/03/2017, 13:45</p>
			<h2><a href="">Second Post</a></h2>
			<p> Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing em neque ipsum.</p>
		</div>

	</body>
</html>
